body {
    background-color: black;
}

#menu-bar img {
    height: 6rem;
    width: auto;
    padding-right: 1rem;
}

#detail img {
    height: 20rem;
    width: auto;
    margin: auto;
}

h1 {
    color: white;
    text-align: center;
    font-size: large;
}

#menu-header {
    display: flex;
    flex-direction: column;
}

#menu-bar {
    display: flex;
    justify-content: center;
    height: 7rem;
    padding: 2rem;
}

button {
    background-color: rgb(232, 56, 56);
    width: 200px;
    height: 40px;
    margin: auto;
    font-size: larger;
}

#detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


button {
    background-color: rgb(232, 56, 56);
    width: 200px;
    height: 40px;
    margin: auto;
    font-size: larger;
}

#details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    color: white;
    width: 750px;
    text-align: center;
    margin: auto;
    padding-bottom: 1rem;
}