body {
    background-color: black;
}

#menu-bar img {
    height: 6rem;
    width: auto;
    padding-right: 1rem;
    filter: drop-shadow(0 0 1em #c93642)
}

#detail-container {
    display: flex;
    height: 400px;
    justify-content: center;
    margin-top: 25px;
}

#menu-bar img:hover {
    transform: scale(1.2);
}

#detail-image {
    height: 20rem;
    width: auto;
    margin: 20px;
    justify-content: center;
    filter: drop-shadow(0 0 1em #c93642)
}

h1 {
    color: white;
    text-align: left;
    font-size: large;
}

#title {
    color: white;
    text-align: center;
    font-size: larger;
}

#menu-header {
    display: flex;
    flex-direction: column;
}

#menu-bar {
    display: flex;
    justify-content: center;
    height: 7rem;
    padding: 2rem;
}

button {
    background-color: rgb(232, 56, 56);
    width: 200px;
    height: 40px;
    margin: auto;
    font-size: larger;
}

#detail {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

button {
    background-color: rgb(232, 56, 56);
    width: 200px;
    height: 40px;
    margin: auto;
    font-size: larger;
}

p {
    color: white;
    width: 500px;
    text-align: left;
    margin: auto;
    padding-bottom: 1rem;
}

#formContainer {
    margin-left: 100px;
}

input[type="text"] {
    padding-bottom: 5px;
    margin-top: 10px;
    border:2px solid rgb(232, 56, 56)
}

input[type="submit"] {
    background-color: rgb(232, 56, 56);
    width: 200px;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    font-size: larger;
}

input.descriptionText {
    padding-bottom: 5px;
    margin-top: 10px;
    border:2px solid rgb(232, 56, 56);
    height: 60px;
    width: 250px;
}